---
---

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
}

header, footer {
    padding: 25px;
    background-color: #fff;
    text-transform: initial;
}

header {
    border-bottom: 1px solid #ddd;
    position: fixed;
    width: 100%;
    top: -1px;
    left: 0;
    z-index: 999;
}

footer {
    margin-top: 50px;
    border-top: 1px solid #ddd;
    text-align: right;
}

article {
    margin-bottom: 100px;
}

p, dd {
    font-size: 1.0em;
    line-height: 1.6em;
    margin-top: 0;
}

a {
    text-decoration: none;
    color: #666;
}

a:hover {
    background-color: #fff;
    color: #333;
}

a .banner-image,
a .sample-thumb {
    opacity: .7;
    transition: opacity 300ms;
}

a:hover img,
a:hover .banner-image {
    opacity: 1;
}

h1, h3 {
    text-transform: uppercase;
}

h1 {
    color: #666;
    font-size: 1.4em;
    font-weight: 200;
}

h2 {
    font-weight: 300;
    font-size: 1.2em;
    margin-top: 0;
}

h3, dt {
    font-size: .9em;
    font-weight: 500;
    margin-top: 0
}

dl {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

dt {
  flex: 0 0 25%;
  padding-top: 2px;
}

dd {
  margin: 0 0 10px;
  flex: 0 0 75%;
}

hr {
    border-style: inherit;
    border-bottom: 1px solid #ccc;
    width: 25%;
    height: 1px;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
    list-style: circle;
}

strong {
    font-weight: 500;
    font-size: 1em;
}

table {
  margin: 10px 0;
}

table th {
  text-align: left;
  padding-right: 10px;
}

table td {
  padding: 3px;
}


#name {
    font-size: 2em;
    font-weight: 100;
}

#name .last {
    font-weight: 300;
}

.spacer {
    height: 90px;
}

.inline {
    display: inline-block;
}

.content {
    padding: 0 50px;
    max-width: 960px;
    margin: 0 auto;
}

.section {
    border-bottom: 1px solid #e3e3e3;
    padding: 50px 0;
}

.section:last-child {
    border-bottom: none;
}

.flex-col {
  display: flex;
}

.col-l {
    flex: 0 0 calc(30% - 50px);
    margin-right: 50px;
    text-align: right;
}

.col-r {
    flex: 0 0 70%;
    text-align: left;
}

.video-l {
  flex: 0 0 350px;
  margin-right: 50px;
  display: flex;
  justify-content: flex-end;
}

.video-r {
    text-align: left;
}

.file {
    text-transform: initial;
}

.follow {
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 999;
    width: calc(100% - 25px);
    padding: 10px;
}

.follow #name {
    font-size: 1.2em;
}

.links {
    float: left;
    width: calc(40% - 50px);
}

.links a {
    margin-bottom: 25px;
}

.items {
    float: right;
}

.items ul {
    margin: 0;
}

.items ul li {
    display: inline-block;
    margin-right: 10px;
}

.items ul li a {
    border-radius: 3px;
}


.dlicon {
    width: 20px;
    margin-left: 10px;
    opacity: .75;
    position: relative;
    top: 3px;
}

.center {
    text-align: center;
    margin: 0px auto;
}

.note {
    color: #666;
    font-style: italic;
}

.about {
    width: 625px;
    margin: 0 auto;
}

.sample {
    margin: 50px 25px;
    display: inline-block;
}

.sample-thumb {
    border: 1px solid #999;
    width: 265px;
    height: 400px;
    margin-bottom: 25px;
}

.sample-thumb:hover {
    opacity: 1;
}

.sample-thumb-1 {
    background-image: url('../images/sample-1.png');
    background-size: 345px 400px;
    background-position: 5% 50%;
}

.sample-thumb-2 {
    background-image: url('../images/sample-2.jpg');
    background-size: 265px 472px;
    background-position: 50% 100%;
}

.sample-thumb-3 {
    background-image: url('../images/sample-3.png');
    background-size: 265px 400px;
    background-position: 50% 50%;
}

.cwmn-thumb {
    width: 300px;
    height: 150px;
    background-image: url('../images/cwmn.png');
    background-size: 300px 150px;
    background-position: 50% 50%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}



.gallery {
  width: 100%;
  padding-bottom: 50px;
  margin: 25px 0;
}
.gallery img {
  width: 100%;
  height: auto;
  opacity: .7;
  transition: opacity 300ms;
}
.gallery img:hover {
    opacity: 1;
}
.gallery figure {
  display: none;
  width: 960px;
  height: 240px;
  margin: 0;
}
.gallery.inline figure {
    width: 672px;
    height: auto;
}
.gallery figure:first-child {
    display: block;
}
.gallery figcaption {
  font-style: italic;
  text-align: right;
  color: #999;
}

.pswp--animate_opacity,
.pswp__bg,
.pswp__caption,
.pswp__top-bar,
.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right{
    -webkit-transition: opacity 0;
    transition: opacity 0;
}
