<div class="section center intro-section">
  <div class="intro">
      <h1>Haven</h1>

      <p>Haven (originally PorchLight) was a funded startup focusing on providing an easier way to hire home-service professionals to preform jobs including house cleaning, HVAC maintenance, lawn mowing, etc. We developed a mobile application and web-service, had contracts with many service professionals, and a small customer base. Ultimately, the company could not sustain itself financially.</p>
  </div>
</div>

<div class="section center">

  <div class="gallery gallery-1" itemscope itemtype="http://schema.org/ImageGallery">
      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="images/full/full-4-1.png" itemprop="contentUrl" data-size="2893x2300">
              <img src="images/banner/banner-4.png" itemprop="thumbnail" alt="Image description" />
          </a>
          <figcaption itemprop="caption description">Preliminary project flows</figcaption>
      </figure>
  </div>

  <article class="flex-col">
      <div class="col-l">
          <h2>Low-fidelity concept prototyping</h2>
      </div>
      <div class="col-r">
          <p>Initial concepts presented to willing participants for general concept feedback and rough interface development. Initially, the central idea was called a Bright Idea: a suggestion to preform some relevant task, how to do it, average difficulty, time needed, etc.  Some of the suggestions had the option to hire a professional, if we had the contract and pricing setup.</p>
          <p>Secondary functionality is a "Punchlist," or a to-do list automatically created by scheduling a service professional or from a Bright Idea. Items entered on the Punchlist are also a source for automated recommendations.</p>
      </div>
  </article>

  <div class="gallery gallery-2" itemscope itemtype="http://schema.org/ImageGallery">
      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="images/full/full-5-1.png" itemprop="contentUrl" data-size="1666x1666">
              <img src="images/banner/banner-5.png" itemprop="thumbnail" alt="Image description" />
          </a>
          <figcaption itemprop="caption description">Interface interaction descriptions</figcaption>
      </figure>

      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="images/full/full-5-2.png" itemprop="contentUrl" data-size="1666x1666">
              <img src="images/banner/banner-5.png" itemprop="thumbnail" alt="Image description" />
          </a>
      </figure>

      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="images/full/full-5-3.png" itemprop="contentUrl" data-size="1666x1666">
              <img src="images/banner/banner-5.png" itemprop="thumbnail" alt="Image description" />
          </a>
      </figure>

      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="images/full/full-5-4.png" itemprop="contentUrl" data-size="1666x1666">
              <img src="images/banner/banner-5.png" itemprop="thumbnail" alt="Image description" />
          </a>
      </figure>
  </div>

  <article class="flex-col">
      <div class="col-l">
          <h2>Project flows</h2>
      </div>
      <div class="col-r">
          <p>To identify functional requirements to start on development, I created concept flows for each section of the application. Flows start with an input, provide the possible actions and outcomes, then define an exit point. With this defined, a server-side developer can begin to created the application API.</p>
      </div>
  </article>


  <div class="gallery gallery-3" itemscope itemtype="http://schema.org/ImageGallery">
      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="images/full/full-6-1.png" itemprop="contentUrl" data-size="4584x4167">
              <img src="images/banner/banner-6.png" itemprop="thumbnail" alt="Image description" />
          </a>
          <figcaption itemprop="caption description">Low-fidelity wireframes</figcaption>
      </figure>

      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="images/full/full-6-2.png" itemprop="contentUrl" data-size="2947x5000">
              <img src="images/banner/banner-6.png" itemprop="thumbnail" alt="Image description" />
          </a>
      </figure>

      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="images/full/full-6-3.png" itemprop="contentUrl" data-size="5000x3182">
              <img src="images/banner/banner-6.png" itemprop="thumbnail" alt="Image description" />
          </a>
      </figure>
  </div>

  <article class="flex-col">
      <div class="col-l">
          <h2>Wireframes</h2>
      </div>
      <div class="col-r">
          <p>The web interface was developed in parallel with the mobile app, both utilizing the API. The major difference between the two is how a user sorts through Bright Ideas. Instead of a seeming infinite feed, like Facebook or Instagram, we pursued a card stack concept, as the user may only have a handful of suggestions at any given moment.</p>
          <p>Another interesting concept was the input mechanism. For each service we were able to compile a formula to generate a finite price for the service processing a few input variables from the homeowner. Instead of a standard form, we used a Mad Lib. While this was arguably more verbose, it made the data collection feel more personal and fun.</p>
      </div>
  </article>

  <article class="flex-col">
      <div class="col-l">
          <h2>Market-Product fit</h2>
      </div>
      <div class="col-r">
          <p>The app was public and we were driving traffic through promotions and advertising, however our customer base was still small. We formed a list of customers and potential customers who fit our target demographic and I constructed a semi-structured interview to sus out what we were doing wrong and what we should be doing.</p>
          <p>The two main takeaways from the interviews were:
            <ul class="padded">
                  <li>The app is nice but too complex for what they wanted</li>
                  <li>The homeowner would like to talk to someone, either over text or phone</li>
              </ul>
          </p>

      </div>
  </article>

  <div class="gallery gallery-4" itemscope itemtype="http://schema.org/ImageGallery">
      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="images/full/full-7-1.png" itemprop="contentUrl" data-size="2880x1466">
              <img src="images/banner/banner-7.png" itemprop="thumbnail" alt="Image description" />
          </a>
          <figcaption itemprop="caption description">Iteration of app components</figcaption>
      </figure>

      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="images/full/full-7-2.png" itemprop="contentUrl" data-size="4800x2291">
              <img src="images/banner/banner-7.png" itemprop="thumbnail" alt="Image description" />
          </a>
      </figure>
  </div>


  <article class="flex-col">
      <div class="col-l">
          <h2>High-fidelity concept prototyping</h2>
      </div>
      <div class="col-r">
          <p>Design iteration and refinement was ongoing through out the project. We used a subset of customers for feedback on the application in exchange for service.</p>
      </div>
  </article>


  <article class="flex-col">
      <div class="col-l">
          <h2>Market-Product fit</h2>
      </div>
      <div class="col-r">
          <p>The app was public and we drove traffic through promotions and advertising, however our customer base was still small. We formed a list of customers and potential customers who fit our target demographic and I constructed a semi-structured interview to sus out what we were doing wrong and what we should be doing.</p>
          <p>The two main takeaways from the interviews were:
            <ul class="padded">
                  <li>The app is nice but too complex for what they wanted</li>
                  <li>The homeowner would like to talk to someone, either over text or phone</li>
              </ul>
          </p>
      </div>
  </article>


  <div class="gallery gallery-5" itemscope itemtype="http://schema.org/ImageGallery">
      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="images/full/full-8-1.jpg" itemprop="contentUrl" data-size="750x1334">
              <img src="images/banner/banner-8.png" itemprop="thumbnail" alt="Image description" />
          </a>
          <figcaption itemprop="caption description">Final designs</figcaption>
      </figure>

      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="images/full/full-8-2.jpg" itemprop="contentUrl" data-size="750x1334">
              <img src="images/banner/banner-8.png" itemprop="thumbnail" alt="Image description" />
          </a>
      </figure>

      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="images/full/full-8-3.jpg" itemprop="contentUrl" data-size="750x1334">
              <img src="images/banner/banner-8.png" itemprop="thumbnail" alt="Image description" />
          </a>
      </figure>

      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="images/full/full-8-4.jpg" itemprop="contentUrl" data-size="750x1334">
              <img src="images/banner/banner-8.png" itemprop="thumbnail" alt="Image description" />
          </a>
      </figure>

      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="images/full/full-8-5.jpg" itemprop="contentUrl" data-size="750x1334">
              <img src="images/banner/banner-8.png" itemprop="thumbnail" alt="Image description" />
          </a>
      </figure>

      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="images/full/full-8-6.jpg" itemprop="contentUrl" data-size="750x1334">
              <img src="images/banner/banner-8.png" itemprop="thumbnail" alt="Image description" />
          </a>
      </figure>

      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="images/full/full-8-7.jpg" itemprop="contentUrl" data-size="750x1334">
              <img src="images/banner/banner-8.png" itemprop="thumbnail" alt="Image description" />
          </a>
      </figure>
  </div>

  <article class="flex-col">
      <div class="col-l">
          <h2>Refinement</h2>
      </div>
      <div class="col-r">
          <p>The solution we came up with to address the barriers of use was something called "Haven Now." It served as an asynchronous request to our customer CRM. A customer could call or text member services to discuss and schedule service. They would place the order in the admin site, which would then be reflected in the customer app as a transaction and item placed on their Punchlist.</p>
      </div>
  </article>

</div>