<article class="flex-col">
    <div class="video video-l">
        <div class="cwmn-thumb"></div>
    </div>

    <div class="video-r">
        <h2>Click With Me Now</h2>
        <dl>
            <dt>Project type:</dt>
            <dd>Private Beta</dd>
            <dt>Plaform:</dt>
            <dd>Browser</dd>

            <dt>Stack:</dt>
            <dd>Javascript with SocketIO, Express/NodeJS, MongoDB</dd>

            <dt>Contributions:</dt>
            <dd>Host and client-side enoding/rendering engine development using Javascript. Worked with and had contributions to the server-side application.</dd>

            <dt>Challenge:</dt>
            <dd>Create a screen-sharing application that doesn't require any plugins to be installed on the computer or browser. A "host" initiates a session and invites other users via a link. The client/host screen can be shared with others viewing the session.</dd>

        </dl>

        <h3>Summary:</h3>
        <p>The use case is for customer service representives to trouble-shoot online applications, forms, webapps, etc. Broadly, this is achieved by parsing the DOM, drawing it into a HTML canvas element, rendering an image, then sending the image blob to the viewers.</p>
        <p>This was a fantastic challenge without any roadmap of ways to accomplish the end-goal. The concept was fairly simple, however playback quality and frame rate proved to be very challenging.</p>
    </div>

</article>