<article class="flex-col">
    <div class="video video-l">
        <video class="demo" controls style="width:300px;height:169px;" poster="videos/relay-poster.jpg">
          <source src="videos/relay.mp4"
                  type='video/mp4;' />
        </video>
    </div>

    <div class="video-r">
        <h2>Relay</h2>
        <dl>
            <dt>Project type:</dt>
            <dd>Public mobile app, website</dd>

            <dt>Plaform:</dt>
            <dd>iOS and Android, web</dd>

            <dt>Stack:</dt>
            <dd>React Native, React, GraphQL</dd>

            <dt>Contributions:</dt>
            <dd>Sole front-end engineer for a new mobile app built on React Native for iOS, Android as well as a public and private web-based application. Built in colaboration with a single back-end engineer.</dd>

            <dt>Challenge:</dt>
            <dd>Provide an alternative to calling 911 for non-emergency situations and events. This reduces the pressure on both 911 call centers and first-responders (primarily police officers) alike.</dd>
        </dl>

        <h3>Summary:</h3>
        <p>Relay was a funded startup, based on a concept by a police chief, to have citizens use a mobile app (among other means) to report non-emergency issues directly to police, rather than contacting 911. The app allowed users to share their location, photos/videos a written description and issue type. The police agency had a "responder" app where the report would be received, based on a geo-fence of the reported issue. Police would be able to respond and address the concern, while the reporter would receive updates allong the way.</p>

        <p>The product was rolled out in more than 8 cities/police districts, some with more than 1 million residents. We came across some really interesting challenges, such a overlapping police jurisdictions, usage in schools, private events and what happens when a report is submitted outside of a coverage area.  After 2 years the product was growing in usage, however due to very long planning cycle for goverment budgets, we were unable to continue working on this concept.</p>
    </div>
</article>
