<article class="flex-col">
    <div class="video video-l">
        <video class="demo" controls style="width:300px;height:540px;" poster="videos/gears-mobile-poster.png">
          <source src="videos/gears-mobile.webm"
                  type='video/webm;codecs="vp8, vorbis"' />
          <source src="videos/gears-mobile.mp4"
                  type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' />
        </video>
    </div>

    <div class="video-r">
        <h2>Green BEAN Delivery</h2>
        <dl>
            <dt>Project type:</dt>
            <dd>Public mobile app, website</dd>

            <dt>Plaform:</dt>
            <dd>iOS and Android</dd>

            <dt>Stack:</dt>
            <dd>React Native, PHP, MySQL</dd>

            <dt>Contributions:</dt>
            <dd>New mobile app built on React Native for iOS and Android, including new REST API for all communication between app and server-side application.<br />
            Development, testing and distribution of the first mobile app for Green BEAN Delivery.</dd>

            <dt>Challenge:</dt>
            <dd>Create a mobile app to work seemlessly with our existing desktop application and customer-base while providing a new, more refined shopping experience.</dd>
        </dl>

        <h3>Summary:</h3>
        <p>Green BEAN Delviery is an online organic and natural food delivery subscription service for customers and businesses. The app provideded an alternative to the desktop site, allowing for faster and easier shopping experience. The service allows for a user to customize their order over a period of several days. The app allowed users to more easily add items to their order throughout the week, without having to sit down to a computer to do so.</p>
        <p>Additionally, the app features a customized home feed with specials, featured items and recipies as well as promotions and communcation through push messages.</p>
    </div>
</article>
