<article class="flex-col">

    <div class="video-l">
        <video class="demo" controls style="width:300px;height:169px;" poster="videos/pigeon-poster.png">
          <source src="videos/pigeon-crop.webm"
                  type='video/webm;codecs="vp8, vorbis"' />
          <source src="videos/pigeon-crop.mp4"
                  type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' />
        </video>
    </div>

    <div class="video-r">
        <h2>Pigeon</h2>

        <dl>
            <dt>Project type:</dt>
            <dd>Public project on GitHub</dd>

            <dt>Plaform:</dt>
            <dd>iOS</dd>

            <dt>Stack:</dt>
            <dd>Swift, NodeJS and SocketIO</dd>

            <dt>Contributions:</dt>
            <dd>End-to-end design, development</dd>

            <dt>Challenge:</dt>
            <dd>Develop an UAV controller using a mobile phone with ground to vehicle communication over wireless networks in place of traditional radio signal.</dd>

        </dl>

        <div class="summary">
            <h3>Summary:</h3>
            <p>Pigeon is a personal, public project focusing on making it easier to control and fly UAVs. Pigeon is an app that runs on a phone, replacing the need for propritary hardware and external sensors. Setup and control is all preformed through remote software and all communication is over TCP/IP.</p>

            <p>Pigeon is not yet airborne, however is very close. The video above depics a recent "bench" test, demonstrating compensation based on craft orientation. Unfortunately, evidence from these tests indicate that bluetooth communication from the phone to the motors is simply not fast enough to prevent oscillations in compensation.</p>
        </div>
    </div>

</article>