<header class="main">
  <section class="content">
    <nav>
      <a class="menu-target" href="#about">
        <div id="name">
          <span class="first">Jason</span>
          <span class="last">Luebke</span>
        </div>
      </a>
      <ul>
        <li class="design menu-target"><a href="#design">Design</a></li>
        <li class="development menu-target"><a href="#development">Development</a></li>
        <li class="process menu-target"><a href="#process">Process</a></li>
      </ul>
      <ul>
        <li><a class="menu-target" href="#contact">Contact</a></li>
        <!-- <li><a href="mailto: jjluebke@gmail.com">jjluebke@gmail.com</a></li>
        <li><a href="https://github.com/jjluebke"><img src="images/github.png" class="dlicon" /></a></li>
        <li><a href="https://www.linkedin.com/pub/jason-luebke/7/448/7a6"><img src="images/in.png" class="dlicon" /></a></li>
        <li><a href="JasonLuebke.pdf"><img src="images/download.png" class="dlicon" /></a></li> -->
      </ul>
    </nav>
  </section>
</header>