<header class="main">
  <section class="content">
    <nav>
      <a class="menu-target" data-href="#about" onClick="handleOnClick('#about')">
        <div id="name">
          <span class="first">Jason</span>
          <span class="last">Luebke</span>
        </div>
      </a>
      <ul>
        <li class="design menu-target"><a data-href="#design" onClick="handleOnClick('#design')">Design</a></li>
        <li class="development menu-target"><a data-href="#development" onClick="handleOnClick('#development')">Development</a></li>
        <li class="process menu-target"><a data-href="#process" onClick="handleOnClick('#process')">Process</a></li>
      </ul>
      <ul>
        <li><a class="menu-target" data-href="#contact" onClick="handleOnClick('#contact')">Contact</a></li>
      </ul>
    </nav>
  </section>
</header>